*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background: linear-gradient(white, grey);
    margin: 20px;
    border: 1px white solid;
    border-radius: 15px;
}

main {
    margin: 20px;
}
nav{
    height: 60px;
    width: 100%;
    background: url(../assets/images/grapes.jpg);
    justify-content: center;
    padding: 20px;

}
nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

nav ul li {
    display: inline-block;
    list-style: none;
    height: 20px;
    width: 15%;
    background-color: antiquewhite;
    border: 1px black solid;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    }


nav a {
    text-decoration: none;
}
nav a:hover{
    color: rgb(219, 77, 25);
    background-color: aqua;
    border-color: blue;
    transition: all 0.7s;
    transform: scale(1.3);

}

/* grilla portada PC */


.portada {
    margin: 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-area: "portada1 portada2 portada3"
                "portada4 portada5 portada6";
    row-gap: 20px;
    column-gap: 20px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.portada1{
grid-column: 1/2;
grid-row: 1/2;
width: 300px;
height: 300px;
border: 1px solid white;
border-radius: 10px;
background-image: url(../assets/images/portada1.jpg);
justify-content: start ;

}

.portada2{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada2.jpg);
}

.portada3{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(42, 165, 63);
    background-image: url(../assets/images/portada3.jpg);
}

.portada4 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada4.jfif);
}

.portada5 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada5.jfif);
}

.portada6 {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada6.jfif);
}


h1 {
    text-align: center;
    font-family: 'Estonia', cursive;
    font-size: 4rem;
    }

h2{
    text-align: center;
}

#descripcionuv {
    font-family: 'Estonia', cursive;
    font-size: 2rem;
    text-align: justify;
}


/*Pie de pagina*/

footer {
    margin: 20px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: end;
}
footer h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
footer ul li {
    list-style: none;
    font-size: small;
}
footer p {
    font-size: medium;
    
}


/*Formulario de contacto contact.html*/

.formulario {
    padding: 5% 10% 5% 10%;
    line-height: 150%;
}

.maps {
    padding: 5% 10% 5% 10%;
    align-content: center;
}

.mapa {
    width: 500px;
    height: 500px;
}

/*Equipo team.html*/

.curriculum, .cliente {
    margin: 5px;
    padding: 10px 0 10px 0;
    justify-content: center;
    text-align: center;
}

/*video de presentacion*/

.video
{
    width: 640px;
    height: 480px;
}

/*Mobile view*/

@media screen and (max-width: 480px) {

    body{
        background: linear-gradient(white, rgb(227, 255, 71));
        margin: 20px;
        border: 1px white solid;
        border-radius: 15px;
    }
    
    /* Mobile nav */

    nav{
        height: auto;
        width: 100%;
        background: url(../assets/images/grapes.jpg);
        justify-content: center;
        padding: 20px;
    
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    nav ul li {
        width: 100%;
    }
/* grilla portada Mobile */


.portada {
    margin: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portada1{
width: 300px;
height: 300px;
border: 1px solid white;
border-radius: 10px;
background-image: url(../assets/images/portada1.jpg);
justify-content: start ;

}

.portada2{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada2.jpg);
}

.portada3{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada3.jpg);
}

.portada4 {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada4.jfif);
}

.portada5 {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada5.jfif);
}

.portada6 {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada6.jfif);
}
 /*video de presentacion*/
 .video
 {
     align-content: center;
     width: 250px;
     height: auto;
 }

 /*mapa contact.html*/

 .maps {
    padding: 5% 10% 5% 10%;
    align-content: center;
}

.mapa {
    width: 200px;
    height: 200px;
}

}



@media only screen and (min-width: 481px) and (max-width: 720px) {

    
    body{
        background: linear-gradient(white, tomato);
        margin: 20px;
        border: 1px white solid;
        border-radius: 15px;
    }
    

    nav{
        height: auto;
        width: 100%;
        background: url(../assets/images/grapes.jpg);
        justify-content: center;
        padding: 20px;
    
    }

    nav ul {
        display: flex;
        flex-direction: row
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    nav ul li {
        width: 45%;
    }


/* grilla de fotos de tableta*/

.portada {
    margin: 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-area: "portada1 portada2"
                "portada3 portada4"
                "portada5 portada6";
    row-gap: 20px;
    column-gap: 20px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.portada1{
grid-column: 1/2;
grid-row: 1/2;
width: 200px;
height: 200px;
border: 1px solid white;
border-radius: 10px;
background-image: url(../assets/images/portada1.jpg);
justify-content: start ;

}

.portada2{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada2.jpg);
}

.portada3{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada3.jpg);
}

.portada4 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(42, 161, 165);
    background-image: url(../assets/images/portada4.jfif);
}

.portada5 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada5.jfif);
}

.portada6 {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(../assets/images/portada6.jfif);
}

/*video de presentacion team.html*/
.video
{
    width: 400px;
    height: auto;
}

/
/*mapa contact.html*/

.maps {
   padding: 5% 10% 5% 10%;
   align-content: center;
}

.mapa {
   width: 300px;
   height: 300px;
}
}