@import "variables";


footer {
    background-color: blue;
    color: $color1;
    & .redes {
        color: $color1;
        font-size: $fsize3;
        text-align: center;
        & .fab {
            color: $color1;
            padding-left: $marg3;
        }
        & .fab:hover {
            color: $color2;
            font-size: $fsize4;
            transition-duration: 1s;

        }

    }
    & .contacto {
        ul {
            li {
                list-style: none;
                text-align: right;
            }
        }
    }
    & .firma {
        color: yellowgreen;
        font-size: $fsize3;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}