@import "variables";


/*
header {
    padding-top: $marg1;
    h1 {
        text-align: center;
    }
    & .navbar {
        justify-content: end;
        padding-right: $marg3;
            ul {
                //border: solid $color1 1px;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                //background-color: $color3;
            li {
                list-style: none;
                display: inline-block;
                text-align: center;
                padding-right: $marg3;
                & .item {
                    text-decoration: none;
                    color: $color1;
                }
                & .item:hover {
                    color: $color2;
                    font-size: $fsize2;
                    transition-duration: 1s;
                }
            }
        }
    }
}
*/

