@import "variables";

.pictures {
    margin: 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-area: "picture1 picture2 picture3"
               "picture1 picture4 picture4";
    //row-gap: 10px;
    //column-gap: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}
    .picture1 {
        grid-column: 1/2;
        grid-row: 1/3;
        //width: 300px;
        //height: 300px;
        border: 1px solid $color5;
        border-radius: 10px;
        background-color: $color2;
        justify-content: start;
    }
    .picture2 {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 300px;
        height: 300px;
        border: 1px solid $color5;
        border-radius: 10px;
        //background-image: url(../assets/images/portada2.jpg);
    }
    .picture3 {
        grid-column: 3/4;
        grid-row: 1/2;
        width: 300px;
        height: 300px;
        border: 1px solid $color5;
        border-radius: 10px;
        background-color: rgb(42, 165, 63);
        //background-image: url(../assets/images/portada3.jpg);
    }
    .picture4 {
        grid-column: 2/4;
        grid-row: 2/3;
        width: 760px;
        height: 300px;
        border: 1px solid $color5;
        border-radius: 10px;
        //background-image: url(../assets/images/portada4.jfif);
    }

