@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bubblegum+Sans&family=Estonia&family=Kaushan+Script&family=Knewave&family=Licorice&family=Love+Light&family=Luxurious+Roman&family=Merienda:wght@400;700&family=Mitr:wght@200&family=Niconne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=The+Nautigal:wght@700&family=Ubuntu:ital,wght@0,300;1,300&family=Vujahday+Script&display=swap');

/* Colors */

$color1: white;
$color2: red;
$color3: blue;
$color4: rgb(255, 238, 0);
$color5: rgb(0, 247, 255);

/* Fonts */

$font1: 'Architects Daughter', cursive;
$font2: 'Estonia', cursive;
$font3: 'Kaushan Script', cursive;
$font4: 'Bubblegum Sans', cursive;
$font5: 'Knewave', cursive;
$font6: 'Licorice', cursive;
$font7: 'Love Light', cursive;
$font8: 'Luxurious Roman', cursive;
$font9: 'Merienda', cursive;
$font10: 'Mitr', sans-serif;
$font11: 'Niconne', cursive;
$font12: 'Permanent Marker', cursive;
$font13: 'Rock Salt', cursive;
$font14: 'Sacramento', cursive;
$font15: 'Shadows Into Light', cursive;
$font16: 'The Nautigal', cursive;
$font17: 'Ubuntu', sans-serif;
$font18: 'Vujahday Script', cursive;

/* Size fonts */

$fsize1: 10px;
$fsize2: $fsize1*2;
$fsize3: $fsize1*3;
$fsize4: $fsize1*4;
$fsize5: $fsize1*5;
$fsize6: $fsize1*6;
$fsize7: $fsize1*7;

/* margin and padding */
 $marg1: 10px;
 $marg2:  $marg1*2;
 $marg3:  $marg1*3;
 $marg4:  $marg1*4;
 $marg5:  $marg1*5;

/* paragraph styles */


/* title1 styles */

@mixin titulo1 ($font-family, $font-size) {
    font-family: $font12;
    font-size: $fsize4;
    text-align: center;    
}

@mixin paragraph ($font-family, $font-size) {
    font-family: $font10;
    font-size: $fsize2;
    text-align: justify;
    
}



/* title2 styles */


/* title3 styles */