@import "header";
@import "footer";
@import "variables";

h1 {
    font-family: $font14;
    font-size: $fsize3;
    color: blue;
}

p {
    font-family: $font1;
    font-size: $fsize5;
}

main {
    background-color: tomato;
}