@import "variables";

$mapa: (
    clave1: $color1,
    clave2: $color2,
    clave3: $color3,
    clave4: $color4,
    clave5: $color5,
);

@each $clave, $color in $mapa {

    .caja--#{$clave} {
        width: 400px;
        height: 400px;
        border: 3px solid $color;
        border-radius: 10px;
        margin: 0 auto;
        text-transformation: uppercase;
        text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color, 0 -1px $color;
    }

}
