@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bubblegum+Sans&family=Estonia&family=Kaushan+Script&family=Knewave&family=Licorice&family=Love+Light&family=Luxurious+Roman&family=Merienda:wght@400;700&family=Mitr:wght@200&family=Niconne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=The+Nautigal:wght@700&family=Ubuntu:ital,wght@0,300;1,300&family=Vujahday+Script&display=swap");
/* Colors */
/* Fonts */
/* Size fonts */
/* margin and padding */
/* paragraph styles */
/* title1 styles */
/* title2 styles */
/* title3 styles */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bubblegum+Sans&family=Estonia&family=Kaushan+Script&family=Knewave&family=Licorice&family=Love+Light&family=Luxurious+Roman&family=Merienda:wght@400;700&family=Mitr:wght@200&family=Niconne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=The+Nautigal:wght@700&family=Ubuntu:ital,wght@0,300;1,300&family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bubblegum+Sans&family=Estonia&family=Kaushan+Script&family=Knewave&family=Licorice&family=Love+Light&family=Luxurious+Roman&family=Merienda:wght@400;700&family=Mitr:wght@200&family=Niconne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Shadows+Into+Light&family=The+Nautigal:wght@700&family=Ubuntu:ital,wght@0,300;1,300&family=Vujahday+Script&display=swap");
header {
  padding-top: 10px;
  background-color: crimson;
}
header h1 {
  text-align: center;
}
header .navbar {
  justify-content: end;
  padding-right: 30px;
}
header .navbar ul {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
header .navbar ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding-right: 30px;
}
header .navbar ul li .item {
  text-decoration: none;
  color: white;
}
header .navbar ul li .item:hover {
  color: red;
  font-size: 20px;
  transition-duration: 1s;
}

/* Colors */
/* Fonts */
/* Size fonts */
/* margin and padding */
/* paragraph styles */
/* title1 styles */
/* title2 styles */
/* title3 styles */
footer {
  background-color: blue;
  color: white;
}
footer .redes {
  color: white;
  font-size: 30px;
  text-align: center;
}
footer .redes .fab {
  color: white;
  padding-left: 30px;
}
footer .redes .fab:hover {
  color: #00f7ff;
  font-size: 40px;
  transition-duration: 1s;
}
footer .contacto {
  font-family: "Architects Daughter", cursive;
}
footer .contacto ul {
  text-align: right;
}
footer .contacto ul li {
  list-style: none;
  text-align: right;
}
footer .firma {
  color: white;
  font-size: 20px;
}
footer .firma p {
  text-align: center;
}
footer .firma p a {
  text-decoration: none;
  color: #00f7ff;
}
footer .firma p a:hover {
  color: white;
}

/* Colors */
/* Fonts */
/* Size fonts */
/* margin and padding */
/* paragraph styles */
/* title1 styles */
/* title2 styles */
/* title3 styles */
h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  text-align: center;
}

p {
  font-family: "Mitr", sans-serif;
  font-size: 20px;
  text-align: justify;
}

.principal {
  background-color: tomato;
  padding: 30px;
}

.secundario {
  background-color: cyan;
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */
